<ion-header [translucent]="true">
  <ion-toolbar color="rosa-fraco">
    <ion-buttons slot="start">
      <ion-back-button color="rosa-forte" defaultHref="/audiobook"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Audiobook Gestação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  style="--background: linear-gradient(#ff89c4, #ffe0f3);">

  <ion-accordion-group color="light">
    <ion-accordion value="first" color="light">
      <ion-item slot="header" color="light">
        <ion-label>Capitulo 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Capítulo 1:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/Capitulo_1.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Conclusão Capítulo 1:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/Conclusão_Capitulo_1.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <!--Cap 1-->

  <ion-accordion-group color="light">
    <ion-accordion value="first" color="light">
      <ion-item slot="header" color="light">
        <ion-label>Capitulo 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Capítulo 2:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/cap2.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Conclusão Capítulo 2:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/cap2 conclusão.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
    </ion-accordion>
  </ion-accordion-group>
<!--Cap 2-->

  <ion-accordion-group color="light">
    <ion-accordion value="first" color="light">
      <ion-item slot="header" color="light">
        <ion-label>Capitulo 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Capítulo 3:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/cap3.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
      <div class="ion-padding" slot="content">
        <p style="color: #000;">
          Conclusão Capítulo 3:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="../../../assets/audios/audiobook-meu/cap3 conclusão.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>
      </div>
    </ion-accordion>
  </ion-accordion-group>
<!--Cap 3-->

</ion-content>
