<ion-header [translucent]="true">
  <ion-toolbar color="rosa-forte">
    <ion-buttons slot="start">
      <ion-back-button color="rosa-fraco" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="--background: linear-gradient(#ff89c4, #ffe0f3)"
>
  <ion-card id="card" color="light">
    <ion-card-header>
      <ion-card-title class="titulo">Desenvolvimento</ion-card-title>
    </ion-card-header>

    <div id="foto-curso">
      <img
        src="../../assets/imgs/Ciencia_da_Computacao.jpg"
        alt="Ciência da Computação - Unisagrado"
      />
    </div>

    <!--Desenvolvimento-->

    <ion-card-header>
      <ion-card-title class="titulo">Apoio</ion-card-title>
    </ion-card-header>

    <div id="foto-curso">
      <img
        src="../../assets/imgs/Logo Extensão.jpg"
        alt="Coordenadoria de Extensão - Unisagrado"
      />
    </div>

    <!--Apoio-->

    <ion-card-header>
      <ion-card-title class="titulo">Desenvolvedores</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card">
        <p class="nome">João Luiz Casagrande</p>
        <p class="nome">Kevin Morales Farah</p>
        <p class="nome">Vitor Sanches</p>
      </div>
    </ion-card-content>

    <!--Desenvolvedores-->

    <ion-card-header>
      <ion-card-title class="titulo">Disciplina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card">
      <p class="nome">Desenvolvimento de Software</p>
      </div>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="titulo">Professor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card">
      <p class="nome">Prof. Dr. Elvio Gilberto da Silva</p>
      </div>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="titulo">Professora Colaboradora</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card">
      <p class="nome">Profa. Dra. Marta Helena Souza De Conti</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
