ion-title{
  text-align: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 22px;
}

.titulo{
  font-size: 24px;
  align-self: center;
}

#text{
  color: #000;
  font-size: 20px;
}

ion-card{
  border: #f3278d solid 3px;
}

#foto-curso{
  margin: 0px 5px 0px 5px;
  border: #000 solid 2px;
}

hr{
  border: none;
  border-top: 1px solid #ccc; /* cor e espessura da linha */
  margin-top: 30px;
}

.devs{
  align-items: center;
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
}
